
  body{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(188, 200, 241);
  }

  /* .currentTemp{
    font-family: 'Roboto Mono', monospace;
   font-size: 3.5rem;
    display: inline-block;
  } */
   /* .weather-icon{
    width:100px;
    height:100px;
  }  */
  /* p{
      margin: 0%;
      padding: 0%;
      font-family: 'Roboto Mono', monospace;
      font-size: 1rem;
  } */
/*   
  .maxTemp{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
  }

  .minTemp{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
  } */
  /* .city{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
  } */

  /* .label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
 }

.input,
label {
   
    margin: 1rem;
}
.contentBody{
    justify-content: center;
    padding: 2rem;
} */
/* .searchBar{
    padding-top: 2rem;
}

#header p{
    justify-content: center;
} */
